<!-- Blog Headlines -->
<table width="{{page.config.emailWidth}}" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="margin:0 auto;">
    <tr>
        <td valign="top">
            <table>
                <tr>
                    <td bgcolor="#3c707e" style="color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;">4.12.13</td>
                </tr>
            </table>
        </td>
        <td style="font-size:11px;color:#656565;text-align:left;padding-left:8px;" valign="middle">
            <a href="https://www.emailonacid.com/blog/details/C13/emailology_vector_markup_language_and_backgrounds" style="font-size:14px;font-weight:bold;color:#000000;text-align:left;text-decoration:none;">Vector Markup Language and Backgrounds in Outlook 2007+</a>
            <br /> Get your background to show up in flexible screen widths in Outlook.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">
            <table>
                <tr>
                    <td bgcolor="#3c707e" style="color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;">4.02.13</td>
                </tr>
            </table>
        </td>
        <td style="font-size:11px;color:#656565;text-align:left;padding-left:8px;" valign="middle">
            <a href="https://www.emailonacid.com/blog/details/C13/emailology_firing_blanks_with_outlook.com" style="text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;">Firing Blanks with Outlook.com</a>
            <br /> Is your email showing up as a white screen in Outlook.com? Here&#8217;s why.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">
            <table>
                <tr>
                    <td bgcolor="#3c707e" style="color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;">3.27.13</td>
                </tr>
            </table>
        </td>
        <td style="font-size:11px;color:#656565;text-align:left;padding-left:8px;" valign="middle">
            <a href="https://www.emailonacid.com/blog/details/C13/emailology_viewport_metatag_rendered_unusable" style="text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;">Viewport Meta Tag Rendered Unusable</a>
            <br /> Is your email showing blank on the BlackBerry? It might be your viewport tag...
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">
            <table>
                <tr>
                    <td bgcolor="#3c707e" style="color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;">3.25.13</td>
                </tr>
            </table>
        </td>
        <td style="font-size:11px;color:#656565;text-align:left;padding-left:8px;" valign="middle">
            <a href="https://www.emailonacid.com/blog/details/C13/emailology_media_queries_demystified_min-width_and_max-width" style="text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;">Media Queries Demystified: Min-Width and Max-Width</a>
            <br /> More complicated than they seem? Let&#8217;s break down MQ&#8217;s for beginners.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td valign="top">
            <table>
                <tr>
                    <td bgcolor="#3c707e" style="color:#fff;font-size:12px;font-weight:bold;text-align:center;-webkit-text-size-adjust:none;padding:4px 8px;">3.21.13</td>
                </tr>
            </table>
        </td>
        <td style="font-size:11px;color:#656565;text-align:left;padding-left:8px;" valign="middle">
            <a href="https://www.emailonacid.com/blog/details/C13/emailology_media_queries_and_device_orientation" style="text-decoration:none;font-size:14px;font-weight:bold;color:#000000;text-align:left;">Media Queries and Device Orientation</a>
            <br /> Identify your breakpoints with our research on the most popular device sizes...
        </td>
    </tr>
</table>
<!-- end blog headlines -->
