
		<meta charset="UTF-8">
		<meta name="description" content="page.description">
		<meta name="keywords" content="page.keywords">
		<meta name="viewport" content="width=device-width" />
			<link rel="stylesheet" href="../assets/css/bootstrap.css" media="all" />
			<link rel="stylesheet" href="../assets/css/bootstrap-theme.css" media="all" />
			<link rel="stylesheet" href="../assets/css/bootstrap-flex.css" media="all" />
			<link rel="stylesheet" type="../text/css" href="assets/css/font-awesome.min.css">
			{{! <link rel="stylesheet" href="../assets/css/tidy-Stockton.css" media="all" /> }}
			<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
		<style type="text/css">
			#hero {
				background-image: url('assets/images/{{page.hero.heroImg}}');
			}
			@media (max-width: 865px) {
			    #hero {
			        background-image: url('assets/images/{{page.hero.heroImgSmall}}');
			    }
			}
		</style>
