
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ page.config.title }}</title>



	<link rel="stylesheet" type="text/css" href="assets/css/header.css" data-embed="true">
	<link rel="stylesheet" type="text/css" href="assets/css/inline.css">
	<!--[if gte mso 9]>
		<style>
		<link rel="stylesheet" type="text/css" href="assets/css/outlook-specific.css" data-embed="true">
		</style>
	<![endif]-->
