<table width="{{ctaWidth}}" align="{{ctaPosition}}">
    <tr>
        <td background="{{ctaBkgnd}}" bgcolor="{{bkgndColor}}" class="{{ctaStyle}}" style="" align="center">
            <a href="{{href}}" class="ctaText" style="">{{ctaCall}}</a>
        </td>
    </tr>
</table>
