 span.yshortcuts {
    color: #000;
    background-color: none;
    border: none;
  }
  span.yshortcuts:hover,
  span.yshortcuts:active,
  span.yshortcuts:focus {
    color: #000;
    background-color: none;
    border: none;
  }
  /*When Yahoo! Beta came out, we thought we could put those days behind us but we might have celebrated a little too soon. Here's more: http://www.emailonacid.com/blog/details/C13/yahoo_shortcuts_are_baaaaaaaack */
