<div style="display:none;font-size:1px;color:#f1f1f1;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">{{page.previewText}}</div>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="{{page.screenBackgroundColor}}" class="container">
    <tr>
        <td align="center">
            <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="{{page.contentBackgroundColor}}" align="center" class="full-width">

                <!-- hero -->
                {{#forEach page.hero}}
                    {{> email-general-content-row}}
                {{/forEach}}


				{{> email-general-content-row page.aboveFoldCTA}}


                <!-- other offers -->
                {{#forEach page.otherRows}}
                    {{> email-general-content-row}}
                {{/forEach}}




            </table>
        </td>
    </tr>
</table>
<!-- GMAIL app fix. Do not remove -->
<div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</div>
<!-- Start RealTime Email Embed - Patents Pending -->
<img src="https://disneymovierewards.liveclicker.com/service/rte?kind=duration&account_id=5744&campaign_id=1860666631&dim0=%%LIVECLICKER_ID%%" style="width:0px; height:0px;" />
<!-- End RealTime Email Embed - Patents Pending -->
